@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
.odometer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aoboshi One', serif;
    font-size: 150px;
    
    

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    color: #fff;
    
    
}